*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;
}

header{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    display: flex;
    justify-content: center;
    background: transparent;
    position: absolute;
    border-bottom: 1px solid rgba(255, 255, 255,0.5);
}
header .logo{
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    font-size: 35px;

}

.container{
    /* display: flex; */
    /* border: 1px solid blue; */
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
  /* justify-content:space-between; */

    
}

header .header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



header .container nav a{
    text-decoration: none;
    margin-left: 20px;
     color: #fff;
     text-transform: uppercase;
     font-weight: 500;
     transition: 0.3s;
     font-size: 15px;
}

header .container nav a:hover{
    color: #e62b4a;
}

header .container nav .active{
    color: #e62b4a;
}
/* end header */
/* start banner */
.banner{
    background-image: url(./image-video/home_slider.jpg);
    background-position: center;
    background-size: cover;
   
    height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.banner .banner_container i{
    /* border: 1px solid orange; */
    font-size: 40px;
    display: inline-block;
    margin-top: 50px;
    animation-name: animateArrow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.banner_container h2{
    margin: 30px 0 10px;
    font-size: 50px;
    font-weight: 700;
}

.banner_container p{
    font-weight: 400;
    font-size: 20px;
}

button{
    padding: 15px 30px;
    text-transform: uppercase;
    color: #fff;
    background:#e62b4a;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

 button:hover{
    background-color: #af2239;
}
/* end banner */


@keyframes animateArrow{
    from{
        transform: translateY(0);
        opacity: 1;
       
    }
    to{
        transform: translateY(100px);
        opacity: 0;
       
    }
}

@keyframes animateColor{
    0%{
        color: red;
        transform: scale(0);
        transform: translateX(-200px);
    }
    20%{
        color: black;
    }
    40%{
        color: purple ;
    }
    60%{
        color: green;
    }
    80%{
        color: yellow;
    }
    100%{
        color: blue;
        transform: scale(2);
        transform: translateX(200px);
    }
}
.slider{
    background: #000;
  }
  
  .slider_container{
    padding: 80px 0;
    width: 75%;
    margin: 0 auto;
  }
  
  .content{
    color: #fff;
    text-align: center;
    padding: 40px 0;
   
    
    letter-spacing: 1px;
  }
  .content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 400;
  
  }
  .content p{
    line-height: 25px;
  
  }
  .content .highlight{
    color:#e62b4a;
   font-size: 20px;
  
  }
  
  .description{
    color: #888888;
    font-weight: 900;
    margin-top: 10px;
    font-size: 20px;
  }
  
  .slider_carousel .carousel_item{
  
    padding: 15px;
    height: 250px;
  }
  .slider_carousel .item_content{
    background:#fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    color:#888888;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .slider_carousel .item_content::before{
    content: "";
    display: block;
    position: absolute;
    width: 5px;
    /* height: 0; */
    transform: translateY(-100%);
    background-color: #e62b4a;
    top: 0;
    right: 0;
    transition: 0.3s;
  }
  
  .slider_carousel .item_content i{
    font-size: 50px;
    padding-bottom: 10px;
  
  }
  
  .slider_carousel .item_content:hover::before{
  height: 100%;
  transform: translateY(0px);
  }
  
  .slick-dots li button:before{
    font-size: 15px;
    opacity: 0.75;
    color: #fff;
  }
  
  .slick-dots li.slick-active button:before{
    color: #e62b4a;
    opacity: 1;
  }
  .BackToHome_button{
    color: rgb(217, 225, 227);
    margin-left: 20px;
    font-size: 25px;
  }
  .BackToHome_button:hover{
    color: rgb(0, 113, 133);
  }
  @keyframes animateArrow{
    from{
        transform: translateY(0);
        opacity: 1;
       
    }
    to{
        transform: translateY(100px);
        opacity: 0;
       
    }
  }
  
  @keyframes animateColor{
    0%{
        color: red;
        transform: scale(0);
        transform: translateX(-200px);
    }
    20%{
        color: black;
    }
    40%{
        color: purple ;
    }
    60%{
        color: green;
    }
    80%{
        color: yellow;
    }
    100%{
        color: blue;
        transform: scale(2);
        transform: translateX(200px);
    }
  }

/* start blog */
.blogs{
    padding: 80px 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;

}

.blog-content{
    text-align: center;
    color: #888888;
    font-size: 20px;
}

.blog-content h2{
    color: #000;
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
}
.blog-list{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px auto 0;
}

.blog-list .blog-item{
    /* height: 300px; */
 position: relative;
background-color: rgba(230, 43, 74, 0.6);
}

.blog-list .blog-item img{
    height: 100%;
    width: 100%;
  /* filter: grayscale(70%) contrast(30%); */
}

.blog-item .item-overlay{
    /* display: none; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: 0.5s;
    
}
.blog-item:hover .item-overlay{
    opacity: 1;
    top: 0;
    left: 0;
}

.item-overlay .search{
    width: 50px;
    height: 50px;
    background: #fff;
    position: absolute;
    right: 30px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.5s;
}
.blog-item:hover .search{
    top: 30px;
    
}


.overlay-title .title-a-overlay{
    text-decoration: none;
    color: #fff;
}
.blog-item:hover .overlay-title{
    bottom: 30px;
    color:#fff
}
.item-overlay .overlay-title{
    position: absolute;
    left: 30px;
    bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.blog-item.blog-item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.blog-item.blog-item-10{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
/* end blog */
/* start number */
.number{
    padding: 80px 0;
    background: #000;
    color: white;
}

.number-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.number-item h2{
    font-size: 60px;
    font-weight: 400;
}

.number-item p{
    color: #888888;
    font-size: 20px;
    opacity: 0.9;
}

/* end number */

/* start experience */
.experience{
    background-image: url(./image-video/bussiness_img_1.jpg);
    background-position: center;
    background-attachment: fixed;
    padding: 80px 0;
    background-repeat: no-repeat;
    background-size: cover;
}



.video-container video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
}

/* end experience */