/* start blog */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;
    
}
.blogs{
    padding: 120px;
   
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif ;

}
.h2-blog a{
    transition: 0.5s;
    text-decoration: none;
    color: #888888;
}
.h2-blog a:hover{
color: #000!important;
}

.blog-content{
    text-align: center;
    color: #888888;
    font-size: 20px;
}


.blog-content h2{
    color: #000;
    padding: 10px;
    font-size: 50px;
    font-weight: 400;
}
.blog-list{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 50px auto 0;
}

.blog-list .blog-item{
    /* height: 300px; */
 position: relative;
background-color: rgba(230, 43, 74, 0.6);
}

.blog-list .blog-item img{
    height: 100%;
    width: 100%;
  /* filter: grayscale(70%) contrast(30%); */
}

.blog-item .item-overlay{
    /* display: none; */
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    top: 0;
    left: 0;
    color: white;
    opacity: 0;
    transition: 0.5s;
    
}
.blog-item:hover .item-overlay{
    opacity: 1;
    top: 0;
    left: 0;
}

.item-overlay .search{
    width: 35px;
    height: 35px;
    background: #fff;
    position: absolute;
    right: 30px;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    transition: 0.5s;
}
.blog-item:hover .search{
    top: 3px;
    right: 2px;

    
}


.overlay-title .title-a-overlay{
    text-decoration: none;
    color: #fff;
}
.blog-item:hover .overlay-title{
    bottom: 30px;
    color:#fff;
    font-size: 13px;
    padding: 0 7px;
}
.blog-item:hover .overlay-title p{
    font-size: 17px;
}
.item-overlay .overlay-title{
    position: absolute;
    left: 3px;
    bottom: 10px;
    transition: 1s;
    cursor: pointer;
    font-size: 12px;
}

.blog-item.blog-item-1{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.blog-item.blog-item-10{
    grid-column: 3 / 5;
    grid-row: 3 / 5;
}
/* end blog */