/* start contact */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
.contact{
  padding: 80px 0;


}
.container{
  /* display: flex; */
  /* border: 1px solid blue; */
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
/* justify-content:space-between; */

  
}

.text-container{
  text-align: center;
  padding: 30px 0;
}
.text-container h2{
  font-size: 50px;
  font-weight: 500;
}
.text-container p{
  font-size: 20px;
  color: #888888;
  margin-top: 10px;
}

.contact-list{
  display: flex;
  justify-content: space-evenly;
}

.map{
  width: 60%;
}



.contact-form{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-right: 20px;
 
  width: 35%;
}
.contact-form input{
  font-size: 15px;
  padding: 1em 7em 1em 0.5em;
  text-align: left;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 25px;
  
}
.contact-form .btn{
  font-family: Arial;
  color: white;
  background: #282626;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.5s;
  border-radius: 1px;
  border: 1px;
}

.contact-form .btn:hover{
  background: grey;
}

.contact-form input:focus, textarea:focus{
  background: #f7f3f3;
}

.contact-form textarea{
  font-size: 15px;
  padding: 1em;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}
.BackToHome_button{
  color: rgb(16, 16, 16);
  margin-left: 20px;
  font-size: 25px;
}
.BackToHome_button:hover{
  color: rgb(136, 137, 137);
}
/* end contact */

/* start footer */
.footer{
  padding: 80px 0;
  color: #fff;
  background-color: #000;
}

.footer-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
}
.icon-list{
  display: flex;
  justify-content: space-evenly;
align-items: center;

}

.icon-item{
  width: 50px;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  transition: 0.5s;
  cursor: pointer;
}
.icon-item:hover{
  background: #e62b4a;
}

/* end footer */