<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meipaly</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <!-- slick -->
    <link rel="stylesheet" href="slick-1.8.1/slick-1.8.1/slick/slick.css" />
    <link
      rel="stylesheet"
      href="slick-1.8.1/slick-1.8.1/slick/slick-theme.css"
    />

    <!-- font awsome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <!-- fancyapps -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css"
    />

    <!-- my app.css -->
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>

    <div class="number">
        <h2 style="margin-bottom: 10px; margin-left: 20px;">
            <a style="text-decoration: none; color: #fff; margin-bottom: 20px;" href="./index.html">Back to main page</a>
        </h2>

      <div class="container">
        <div class="number-list">
          <div class="number-item">
            <h2 class="counter">120</h2>
            <p>AVERAGE THREATS PREVENTABLE</p>
          </div>

          <div class="number-item">
            <h2 class="counter">486</h2>
            <p>INTERESTED CLIENTS</p>
          </div>

          <div class="number-item">
            <h2 class="counter">45</h2>
            <p>REDUCTION IN SECURITY BREACHES IN %</p>
          </div>

          <div class="number-item">
            <h2 class="counter">8</h2>
            <p>CUSTOMER RATINGS OUT OF 10</p>
          </div>
        </div>
      </div>
    </div>

    <div class="experience">
      <div class="container">
        <div class="content">
          <p class="highlight">WHY WE NEED SECURITY HAND BOOKS?</p>
          <h1>DIGITAL EXPERIENCE</h1>
          <p class="description">
            We are committed to providing our customers with exceptional service
            and keeping people up to date and aware of cyber attacks.
          </p>
        </div>
        <div class="video-container">
          <video
            controls
            src="./image-video/video.mp4"
            poster="./image-video/home_slider.jpg"
          ></video>
        </div>
      </div>
    </div>

    

    <!-- jquery -->

    <script
      src="https://code.jquery.com/jquery-1.12.4.min.js"
      integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"
    ></script>

    <!-- slick js -->
    <script src="./slick-1.8.1/slick-1.8.1/slick/slick.js"></script>
    <script>
      $(document).ready(function () {
        $(".slider_carousel").slick({
          // setting-name: setting-value
          slidesToShow: 5,
          slidesToScroll: 1,
          dots: true,
          arrows: false,
          autoplay: true,
          autoplaySpeed: 2000,
        });
      });
    </script>

    <!-- fancyapp -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script>
      Fancybox.bind("#gallery a", {
        groupAll: true, // Group all items
        on: {
          ready: (fancybox) => {
            console.log(`fancybox #${fancybox.id} is ready!`);
          },
        },
      });
    </script>

    <!-- counting up -->
    <!-- b1 -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"
      integrity="sha512-ZKNVEa7gi0Dz4Rq9jXcySgcPiK+5f01CqW+ZoKLLKr9VMXuCsw3RjWiv8ZpIOa0hxO79np7Ec8DDWALM0bDOaQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- b2 -->
    <script src="./Counting-Up-To-Numerical-Values-On-Scroll-jQuery-Countup-js/Counting-Up-To-Numerical-Values-On-Scroll-jQuery-Countup-js/jquery.countup.js"></script>

    <!-- b4 -->
    <script>
      $(".counter").countUp();
    </script>

    <!-- a way to go to the article -->
   
    
  </body>
</html>